@page "/"


<PageTitle>ToDo</PageTitle>

<h1>Hello, ToDo!</h1>

<MudButton OnClick="_homePageModel.CreateTodo" Color="Color.Primary" Variant="Variant.Outlined">新規作成</MudButton>

<MudSimpleTable Style="overflow-x: auto;">
    <thead>
        <tr>
            <th>タイトル</th>
            <th>詳細</th>
            <th>開始日</th>
            <th>終了日</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in _homePageModel.Todos)
        {
            <tr>
                <td>@row.Title</td>
                <td>@row.Description</td>
                <td>@row.ScheduleStartDate</td>
                <td>@row.ScheduleEndDate</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>